*{
    margin: 0;
    
}
#display{
    display: flex;
    justify-content: center;
    font-size:40px;
    margin-top: 30px;
}
#header{
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: 'Libre Baskerville', serif;
    color:teal;
}
#buttons{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.lastrow{
    margin: 2px;
    cursor: pointer;
    padding: 3.5px;
}